[% WRAPPER _page_.tmpl
    title = translate("PearlPBX")
%]

[% INCLUDE menu.tmpl %]

<div class="container">
Hello, PearlPBX!
<a href="/action/logout" class="btn">Log Out</a>
</div> <!-- /container -->

[% END %]


