[Unit]
Description=PearlPBX Callback Service  
Requires=asterisk.service
After=asterisk.service 

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/sbin/PearlPBX-callbackd.pl

# safe_asterisk emulation
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

