[Unit]
Description=PearlPBX daemon
Requires=postgresql.service asterisk.service
After=postgresql.service asterisk.service

[Service]
Type=forking
User=root
Group=root
ExecStart=/usr/sbin/PearlPBX-hangupd.pl
PIDFile=/var/run/NetSDS/PearlPBX-hangupd.pid

# safe_asterisk emulation
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

